@charset "UFT-8";

body {
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
    background: url(../assets/ph.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
  }

h1{
  color: rgb(255, 255, 255);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#MINI{
    background-color: rgb(64, 60, 54);
    color: black;
    width: 300px;
    height: 300px;
}

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}

.cover-container {
    max-width: 42em;
  }
  
  
  /*
   * Header
   */
  
  .navbar navbar-expand-lg bg-light{
    color: rgba(49, 243, 250, 0.849);
    border-bottom: .25rem solid transparent;
  }
  
  .nav-masthead .nav-link:hover,
  .nav-masthead .nav-link:focus {
    border-bottom-color: rgba(255, 255, 255, .25);
  }
  
  .nav-masthead .nav-link + .nav-link {
    margin-left: 1rem;
  }
  
  .navbar navbar-expand-lg bg-light {
    color: #fff;
    border-bottom-color: #fff;
  }
  #Contenido{
    width: 1500px;
    height: 1100px;
    background-color: aqua;
    position: absolute;
    border-radius: 2%;
    left: 200px;
    text-align: justify;
    font-size: 15px;
  }
  #p1{
    width: 1450px;
    height: 1050px;
    position: absolute;
    border-radius: 2%;
    top: 10px;
    left: 20px;
    text-align: justify;
    font-size: 15px;
  }
  #Conten{
    width: 400px;
    height: 550px;
    background-color: rgba(14, 197, 197, 0.767);
    text-align: center;
    position: absolute;
    border-radius: 10%;
    color: rgb(255, 255, 255);
    left: 200px;
    top: 300px;
  }
  #Conten:hover{
    height: 550px;
    color: rgb(0, 248, 33);
  }
  #Conten1{
    width: 400px;
    height: 550px;
    background-color: rgba(0, 255, 42, 0.74);
    text-align: center;
    position: absolute;
    border-radius: 10%;
    color: rgb(255, 255, 255);
    left: 700px;
    top: 300px;
  }
  #Conten1:hover{
    height: 550px;
    color: rgb(255, 1, 242);
  }
  #Conten2{
    width: 400px;
    height: 550px;
    background-color: rgba(89, 0, 255, 0.76);
    text-align: center;
    position: absolute;
    border-radius: 10%;
    color: rgb(255, 255, 255);
    left: 1200px;
    top: 300px;
  }
  #Conten2:hover{
    height: 550px;
    color: rgb(0, 247, 255);
  }
  #Contenido1{
    width: 1500px;
    height: 220px;
    background-color: rgb(212, 39, 204);
    position: absolute;
    border-radius: 5%;
    left: 200px;
    text-align: center;
    font-size: 15px;

  }
  #c3{
    width: 400px;
    height: 50px;
    background-color: rgb(187, 41, 255);
    position: absolute;
    border-radius: 5%;
    top: 900px;
    left: 700px;
    text-align: center;
  }
  #Dph{
    width: 550px;
    height: 450px;
    background-color: chartreuse;
    border-radius: 5%;
    position: absolute;
    left: 200px;
    text-align: left;
  }
  #Dph1{
    width: 450px;
    height: 400px;
    border-radius: 5%;
    position: absolute;
    top: 10px;
    left: 50px;
    text-align: left;
  }
  #Contenido2{
    width: 1500px;
    height: 1100px;
    background-color: aqua;
    position: absolute;
    border-radius: 2%;
    left: 200px;
    text-align: justify;
    font-size: 15px;
  }
  #p2{
    width: 1450px;
    height: 1050px;
    position: absolute;
    border-radius: 2%;
    top: 10px;
    left: 20px;
    text-align: justify;
    font-size: 15px;
  }
  #p3{
    width: 1450px;
    height: 1050px;
    position: absolute;
    border-radius: 2%;
    top: 750px;
    left: 1250px;
    text-align: left;
    font-size: 15px;
  }
  #Contenido3{
    width: 300px;
    height: 150px;
    background-color: rgb(0, 255, 0);
    position: absolute;
    top: 650px;
    left: 200px;
    border-radius: 2%;
    text-align: justify;
    font-size: 15px;
  }
  #p5{
    position: absolute;

    left: 300px;
    text-align: left;
    font-size: 15px;
  }
  #Contenido4{
    width: 350px;
    height: 75px;
    background-color: rgb(0, 255, 0);
    position: absolute;
    top: 1750px;
    left: 200px;
    border-radius: 2%;
    text-align: justify;
    font-size: 15px;
  }
  #c1{
    width: 400px;
    height: 75px;
    background-color: aqua;
    border-radius: 5%;
    position: absolute;
    top: 350px;
    left: 200px;
  }
  #c2{
    width: 400px;
    height: 75px;
    background-color: aqua;
    border-radius: 5%;
    position: absolute;
    top: 450px;
    left: 200px;
  }